{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container mt-5">
        <h2>{{titulo}}</h2>
    </div>

    <form method="post" class="container mx-6">
        {% csrf_token %}
        {{ form.as_p  }}
        <button type="submit" class="btn btn-primary">Agregar</button>
        <a href="{% url 'productos' %}" class="btn btn-secondary">Volver</a>
    </form>
</body>
</html>